<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.shield.resident">


    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.ACCESS_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CALL_PHONE"/>


    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE"/>
    <uses-permission android:name="android.permission.REQUEST_IGNORE_BATTERY_OPTIMIZATIONS"/>
    <uses-permission android:name="android.permission.ACCESS_NOTIFICATION_POLICY"/>
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS"/>
    <uses-permission android:name="android.permission.VIBRATE"/>
    <uses-permission android:name="android.permission.DISABLE_KEYGUARD" />


    <uses-permission android:name="android.permission.READ_CONTACTS" />



    <application
        android:name="com.shield.resident.GlobalClass.GlobalClass"
        android:allowBackup="true"
        android:icon="@mipmap/ic_shield"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_shield"
        android:supportsRtl="true"
        android:usesCleartextTraffic="true"
        android:largeHeap="true"
        android:theme="@style/MyTheme"
        tools:replace="android:allowBackup,icon,theme,label,usesCleartextTraffic"
        >

        <uses-library
            android:name="org.apache.http.legacy"
            android:required="false" />


        <activity android:name="com.shield.resident.ui.Splash"
            android:theme="@style/MyTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name="com.shield.resident.ui.Login"
            android:theme="@style/MyNoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
            </intent-filter>
        </activity>

        <activity android:name="com.shield.resident.ui.RegisterFlatDetails"
            android:theme="@style/MyNoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
            </intent-filter>
        </activity>

        <activity android:name="com.shield.resident.ui.AddMultipleFlat"
            android:theme="@style/MyTheme">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
            </intent-filter>
        </activity>

        <activity android:name="com.shield.resident.ui.RegisterUserDetails"
            android:theme="@style/MyNoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
            </intent-filter>
        </activity>

        <activity android:name="com.shield.resident.ui.OtpScreen"
            android:theme="@style/MyTheme">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
            </intent-filter>
        </activity>

        <activity android:name="com.shield.resident.ui.SettingActivity"
            android:theme="@style/MyTheme">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
            </intent-filter>
        </activity>

        <activity android:name="com.shield.resident.ui.NotificationManager"
            android:theme="@style/MyTheme2">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
            </intent-filter>
        </activity>

        <activity android:name="com.shield.resident.ui.MyComplex"
            android:theme="@style/MyTheme">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
            </intent-filter>
        </activity>

        <activity android:name="com.shield.resident.ui.ActivityClass"
            android:theme="@style/MyTheme">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
            </intent-filter>
        </activity>

        <activity android:name="com.shield.resident.ui.AboutUs"
            android:theme="@style/MyTheme">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
            </intent-filter>
        </activity>

        <activity android:name="com.shield.resident.ui.ContactUs"
            android:theme="@style/MyTheme">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
            </intent-filter>
        </activity>

        <activity android:name="com.shield.resident.ui.SecurityScreen"
            android:theme="@style/MyTheme">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
            </intent-filter>
        </activity>

        <activity android:name="com.shield.resident.ui.Activity_details"
            android:theme="@style/MyTheme">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
            </intent-filter>
        </activity>

        <activity android:name="com.shield.resident.ui.Activity_tenants"
            android:theme="@style/MyTheme">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
            </intent-filter>
        </activity>

        <activity android:name="com.shield.resident.ui.InterphoneSettings"
            android:theme="@style/MyTheme">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
            </intent-filter>
        </activity>

        <activity android:name="com.shield.resident.ui.HelpListDetails"
            android:theme="@style/MyTheme" >
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
            </intent-filter>
        </activity>

        <activity android:name="com.shield.resident.ui.CommunityActivity"
            android:theme="@style/MyTheme">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
            </intent-filter>
        </activity>

        <activity android:name="com.shield.resident.ui.ResponsePage"
            android:theme="@style/MyTheme"
            android:launchMode="singleTask">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
            </intent-filter>
        </activity>

        <activity android:name="com.shield.resident.ui.OwnerList"
            android:theme="@style/MyTheme"
            android:launchMode="singleTask">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
            </intent-filter>
        </activity>

        <activity android:name="com.shield.resident.ui.Activity_activity"
            android:theme="@style/MyTheme">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
            </intent-filter>
        </activity>

        <activity android:name="com.shield.resident.ui.InvoiceList"
            android:theme="@style/MyTheme">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
            </intent-filter>
        </activity>

        <activity android:name="com.shield.resident.ui.ChatGroup"
            android:theme="@style/MyTheme">

            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
            </intent-filter>
        </activity>

        <activity android:name="com.shield.resident.ui.ShowInvoice"
            android:theme="@style/MyTheme">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
            </intent-filter>
        </activity>

        <activity android:name="com.shield.resident.ui.PayUMoneyPayment"
            android:theme="@style/MyTheme"
            android:screenOrientation="portrait"
            >
        </activity>


        <activity android:theme="@style/MyNoActionBar"
            android:name="com.shield.resident.ui.CallUi"
            android:exported="false"
            android:screenOrientation="portrait"
            android:showOnLockScreen="true"
            android:showForAllUsers="true">
            <intent-filter>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>


        <activity android:name="com.shield.resident.ui.AppHelp"
            android:theme="@style/MyTheme">

            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
            </intent-filter>
        </activity>


        <activity
            android:theme="@style/MyNoActionBar"
            android:name="com.shield.resident.ui.WelcomeActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
            </intent-filter>
        </activity>


        <activity
            android:theme="@style/MyTheme"
            android:name="com.shield.resident.ui.ContactList"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
            </intent-filter>
        </activity>

        <activity
            android:theme="@style/datepicker"
            android:name="com.shield.resident.dialogs.DialogGuestActivityAdd"
            android:label=""
            >
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
            </intent-filter>
        </activity>

        <activity
            android:theme="@style/datepicker"
            android:name="com.shield.resident.dialogs.DialogHelpActivityAdd"
            android:label=""
            >
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
            </intent-filter>
        </activity>




        <service android:name="com.shield.resident.service.MyFirebaseMessagingService"
            android:stopWithTask="false">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

        <service android:name="com.google.firebase.messaging.FirebaseMessagingService"
            android:exported="false">
            <intent-filter android:priority="-500">
                <action android:name="com.google.firebase.MESSAGING_EVENT"/>
            </intent-filter>
        </service>

        <receiver android:name="com.google.firebase.iid.FirebaseInstanceIdReceiver"
            android:permission="com.google.android.c2dm.permission.SEND"
            android:exported="true">
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE"/>
            </intent-filter>
        </receiver>

        <receiver android:name="com.shield.resident.service.NotificationReceiver" />


        <meta-data
            android:name="com.google.firebase.messaging.default_notification_channel_id"
            android:value="@string/default_notification_channel_id" />



        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="com.shield.resident.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths"/>
        </provider>



    </application>

</manifest>